*.gem
*.rbc
.bundle
.config
.yardoc
*.swp
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
nginx/sites-available/*.conf
nginx/sites-enabled/*.conf
nginx/user.conf
nginx/certs/*.crt
nginx/certs/*.key
varnish
